*{
   margin: 0;
   padding: 0;
   box-sizing:border-box;
   font-family: 'Outfit', sans-serif;
}

body{
   display: flex;
   flex-direction: column;
   height: 100vh;
   background: #d5e1ef;
}

.qr-container{
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: center;
}

.qr-box{
   width: min(100% - 2rem, 320px);
   padding: 20px;
   background-color: white;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}

.qr-image{
   display: block;
   max-width: 100%;
   height: auto;
   border-radius: 10px;
   
}

h1{
   font-size: 22px;
   font-weight: 700;
   color: #1F314F;
   margin: 0;
   text-align: center;
   line-height: 120%;
   letter-spacing: 0px;
}

p{
   font-size: 15px;
   color: #68778d;
   text-align: center;
   font-weight: 400;
   line-height: 140%;
   letter-spacing: 0.2px;
}

@media (max-width: 600px){
   .qr-box{
      gap: 24px;
      padding: 16px;
   }
}

